
<div class="selectbox">
<div class="select">
    <mat-form-field>
      <mat-select placeholder="Choose Metrics">
        <mat-option *ngFor="let food of foods" [value]="food.value" (click)="metricsselect($event)">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

</div>
  
    <div class="select">
    <mat-form-field>
      <mat-select placeholder="Choose Location">
        <mat-option *ngFor="let city of cities" [value]="city.viewValue" (click)="cityselect($event)">
          {{city.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
<div class="selectd">
  <input type="date" value="{{dt | date: 'yyyy-MM-dd'}}" (change)="fromdt($event)">
  
</div>
<div class="selectd">
  <input type="date" value="{{dt | date: 'yyyy-MM-dd'}}" (change)="todt($event)">
</div>
<button  class="selectd" (click)="onsubmit()">Submit</button>
</div>


<div *ngIf="visibility" style="width:800px ;height:600px">
  <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>

<div *ngIf="visibility1" style="width:800px ;height:600px">
  <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>
<!-- <div *ngIf="visibility1"  style="width:800px ;height:600px">
  <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div> -->

